<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.dao.LoginDao">
    <select id="getUserInfo" resultType="java.util.HashMap"  parameterType="map">
        SELECT * FROM auser WHERE uname='${uname}' AND upass ='${upassword}'
    </select>

    <select id="getUserInfoByName" resultType="java.util.HashMap"  parameterType="map">
        SELECT * FROM auser WHERE uname='${uname}'
    </select>
</mapper>
