<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.dao.MenuDao">
    <select id="getCount" resultType="int"  parameterType="map">
        SELECT COUNT(*) FROM slidingMenu BY TIME DESC ;
    </select>
    <select id="getMenuList" resultType="java.util.HashMap"  parameterType="map">
        SELECT * FROM slidingMenu ORDER BY TIME DESC limit #{0},#{1};
    </select>
</mapper>
